*.pyc
*.json
*.npy
*.npz
*.pbtxt
*.tflite
dataset/MNIST/raw
dataset/MNIST/pre-processed
dataset/CIFAR-10/raw
dataset/CIFAR-10/pre-processed
dataset/IMAGENET/raw
dataset/IMAGENET/pre-processed
checkpoint/checkpoint_*
debug/model.pbtxt
debug/summary_*
debug/opt_*
result/model_*
